@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Rufina:wght@400;700&display=swap");

:root {
  /* https://www.fontpair.co/ */
  --ff-serif: "Rufina", serif;
  --ff-sans: "Average Sans", sans-serif;

  /* palette from https://color.adobe.com/explore */
  --clr-neutral-500: rgba(184, 178, 167, 1);
  --clr-neutral-700: rgba(119, 116, 109, 1);
  --clr-neutral-100: rgba(247, 240, 225, 1);
  --clr-neutral-900: rgba(56, 55, 51, 1);
  --clr-neutral-300: rgba(221, 214, 202, 1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

section,
h1,
nav {
  margin: 15px auto;
  max-width: 900px;
}

h1,
h2 {
  font-family: var(--ff-serif);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 15px;
}

li {
  margin: 15px 0px;
}

nav > a {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--clr-neutral-500);
  cursor: pointer;
}
#hero {
  display: flex;
  align-items: center;
}

#hero img {
  display: block;
  max-width: 250px;
  height: auto;
  border-radius: 5px;
}

#hero h2 {
  line-height: 1.6;
  padding: 0 20px;
}

#description {
}

#ingredients,
#directions {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--clr-neutral-300);
}

#ingredients {
}

#directions {
}
